body {
  height: 200vh;
  overflow-x: hidden;
}
.underLineBtn {
  width: 100%;
  height: 4px;
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 100%);
}
.css-qp8qvs-MuiModal-root-MuiPopover-root-MuiMenu-root .MuiPaper-root {
  min-width: 220px !important;
  margin-top: 30px;
}
* {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.menu {
  direction: rtl;
  cursor: pointer;
  width: 20px;
  
}
.menu:hover div:first-of-type {
  width: 10px !important;
}
.menu:hover div:last-of-type {
  width: 20px !important;
}
.closeSideBarRight {
  position: relative;
  cursor: pointer;
}
.closeSideBarRight div:first-of-type,
.closeSideBarRight div:last-of-type {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  top: 50%;
  left: 0;
}
.closeSideBarRight div:first-of-type {
  transform: rotate(45deg);
}
.closeSideBarRight div:last-of-type {
  transform: rotate(-45deg);
}
.closeSideBarRight:hover div:first-of-type {
  transform: rotate(0deg);
}
.closeSideBarRight:hover div:last-of-type {
  transform: rotate(0deg);
}
.MenuLinks a{
  text-decoration: none;
  color: black;
}
.MenuLinks a:hover{
  color: #ffae00;
}
.MenuLinks .MuiBox-root{
  margin-bottom: 10px;
  margin-left: 15px;
}
.MenuLinks .MuiPaper-root:hover p:first-of-type{
  color: #ffae00 !important;
}